@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@1,8..144,300&display=swap");

:root {
    --primary-color: #F7931D;
    --secondary-color: #FFEA82;
    --accent1-color: #DBC977;
    --accent2-color: #e2ddb2;
    --accent3-color: #58564A;
  
    --heading-font: 'Roboto Serif', serif;
    --paragraph-font: 'Roboto Serif', serif;
  
    --nav-background-color: #E2DDB2;
    --nav-link-color: #58564A;
    --nav-hover-link-color: #DBC977;
    --nav-hover-background-color: #F7931D;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--heading-font);
        color: var(--primary-color);
      }
    
    header {
        padding: 20px;
        background-color: var(--accent1-color);
      }

      body {
        width: 100%;
        padding: 20px;
      }
    
      p {
        padding: 25px;
      }
    
    nav {
        background-color: var(--nav-background-color);
        font-size: 1.2rem;
        display: flex;
      }
      
    nav a {
        display: block;
        color: var(--nav-link-color);
        text-decoration: none;
        padding: 1rem;
      }
      
    nav a:link, nav a:visited {
        color: var(--nav-link-color);
      }
      
    nav a:hover {
        color: var(--nav-hover-link-color);
        background-color: var(--nav-hover-background-color);
      }

      p {
        padding: 25px;
      }

  /* Class Selectors */
    
    .hero img {
        position: relative;
        width: 100%;
        height: auto;
           
    }

    .hero h1 {
        position: absolute;
        top: 350px;
        width: 100%;
        margin: 0 auto;
        background-color: rgba(32, 243, 251, 0.507);
    }

    
    .hero article {
        position:absolute;
        top: 400px;
        left: 11px;
        margin: 1rem;
        border: 1px solid rgba(247, 230, 163, 0);
        padding: 1rem;
        background-color: rgba(32, 244, 251, 0.452);
        color: #fefcd4f5;
        width: 100%;
    }

    .hero article img {
        float: right;
        margin: 10px;
        border: 1px solid #000;
        padding: 1px;
        background-color: #bbb;
        width: 200px;
        height: auto;
    }

    .history p {
        margin: 1rem;
        border: 1px solid rgba(247, 230, 163, 0);
        padding: 1rem;
        color: #000;
        width: 100%;
    }

    
    
