@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@1,8..144,300&display=swap");

:root {
    --primary-color: #F7931D;
    --secondary-color: #FFEA82;
    --accent1-color: #DBC977;
    --accent2-color: #e2ddb2;
    --accent3-color: #58564A;
  
    --heading-font: 'Roboto Serif', serif;
    --paragraph-font: 'Roboto Serif', serif;
  
    --nav-background-color: #E2DDB2;
    --nav-link-color: #58564A;
    --nav-hover-link-color: #DBC977;
    --nav-hover-background-color: #F7931D;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--heading-font);
        color: var(--primary-color);
      }
    
    header, .grid, section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column: 1/4;
        padding: 20px;
        background-color: var(--accent1-color);
      }

      body {
        width: 100%;
        padding: 20px;
      }
    
      p {
        padding: 25px;
      }
    
    nav {
        background-color: var(--nav-background-color);
        font-size: 1.2rem;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
      }
      
    nav a {
        display: block;
        color: var(--nav-link-color);
        text-decoration: none;
        padding: 2rem;
        width: 40px;
        
      }
      
    nav a:link, nav a:visited {
        color: var(--nav-link-color);
        
      }
      
    nav a:hover {
        color: var(--nav-hover-link-color);
        background-color: var(--nav-hover-background-color);
      }

      p {
        padding: 25px;
      }

      nav.sociallinks {
        display: flex;
        justify-content: right;
        align-items: right;
      }

      section.history {
        grid-column: 1/4;
        display: flex;
        justify-content: right;
        align-items: right;

      }

      section.adventure {
        grid-column: 1/4;
        grid-template-columns: repeat(5, 1fr);
      }

      section.adventure h2 {
        display: flex;
        justify-content: center;
        width: 100%;
        top: 1270px;

      }

  /* Class Selectors */
    
    .hero img {
        position: relative;
        width: 100%;
        height: auto;
           
    }

    .hero h1 {
        position: absolute;
        left: 100px;
        right: 100px;
        top: 350px;
        margin: 1rem;
        text-align: center;
        background-color: rgba(32, 243, 251, 0.507);
    }
    
    .hero article {
        position:absolute;
        top: 400px;
        left: 100px;
        right: 100px;
        margin: 1rem;
        border: 1px solid rgba(247, 230, 163, 0);
        padding: 1rem;
        background-color: rgba(32, 244, 251, 0.452);
        color: #fefcd4f5;
    }

    .hero article img {
        float: right;
        margin: 10px;
        border: 1px solid #000;
        padding: 1px;
        background-color: #bbb;
        width: 200px;
        height: auto;
    }

    .history p {
        margin: 1rem;
        border: 1px solid rgba(247, 230, 163, 0);
        padding: 1rem;
        color: #000;
        width: 100%;
    }

    .grid nav{
      position: absolute;
      top: 150px;
      left: 400px;
      border: 1px solid #000;
    }

    .history h2{
      position: absolute;
      left: 100px;
      right: 100px;
      top: 1150px;
      margin: 1rem;
      text-align: center;
    }

    .adventure h2{
      position: absolute;
      left: 100px;
      right: 100px;
      top: 1110;
      margin: 1rem;
      text-align: center;
    }


    


    
    
