@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@1,8..144,300&display=swap");

:root {
    --primary-color: #361c01;
    --secondary-color: #FFEA82;
    --accent1-color: #DBC977;
    --accent2-color: #e2ddb2;
    --accent3-color: #58564A;
  
    --heading-font: 'Roboto Serif', serif;
    --paragraph-font: 'Roboto Serif', serif;
  
    --nav-background-color: #E2DDB2;
    --nav-link-color: #58564A;
    --nav-hover-link-color: #DBC977;
    --nav-hover-background-color: #F7931D;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--heading-font);
        color: var(--primary-color);
      }
    
    header {
        display: grid;
        grid-template-columns: 200px auto;
        grid-column: 1/4;
        padding: 20px;
        background-color: var(--accent1-color);
      }

      body {
        width: 960px;
        padding: 20px;
        margin: 0 auto;
      }
    
      p {
        padding: 25px;
      }
    
    nav {
        background-color: var(--nav-background-color);
        font-size: 1.2rem;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
        
      }
      
    nav a {
        display: block;
        text-decoration: none;
        
      }
      
    nav a:link, nav a:visited {
        color: var(--nav-link-color);
        
      }
      
    nav a:hover {
        color: var(--nav-hover-link-color);
        background-color: var(--nav-hover-background-color);
      }

      p {
        padding: 25px;
      }

      nav.sociallinks {
        flex: 1 10px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
      }


      section.history {
        grid-column: 1/4;
        display: flex;
        justify-content: right;
        align-items: stretch;

      }

      section.adventure {
        display: grid;
        grid-column: 1/4;
        grid-template-columns: repeat(4, 1fr);
      }

      section.adventure h2 {
        grid-column: 1/5;

      }

      figure {
        padding: 0;
        margin: 0;
        text-align: center;
      }

  /* Class Selectors */
    
    .hero img {
        position: relative;
        width: 960px;
        height: auto;
        opacity: 0.5;           
    }

    .hero h1 {
        position: absolute;
        width: 960px;
        top: 300px;
        margin: 0;
        text-align: center;
        background-color: rgba(32, 243, 251, 0.507);
    }

    .hero h3 {
      position: absolute;
      width: 960px;
      top: 350px;
      margin: 0;
      text-align: center;
      background-color: rgba(32, 243, 251, 0.507);
  }


    
    .hero article {
        position:absolute;
        width: 960px;
        top: 400px;
        bottom: auto;
        margin: 0;
        border: 1px solid rgba(247, 230, 163, 0);
        padding: 0;
        background-color: rgba(32, 244, 251, 0.452);
        color: var(--primary-color);
        font-family: var(--paragraph-font);
    }

    .hero article img {
        float: right;
        margin: 10px;
        border: 1px solid #000;
        padding: 1px;
        background-color: #bbb;
        opacity: 1;
        width: 200px;
        height: auto;
    }
    .map {
      position: absolute;
      top: 450px;
    }


    h1 {
      font-weight: normal;
      font-family: 'Crete Round', georgia, serif;
      color: #030303;
      text-shadow: 0 2px 2px #111;
      margin-bottom: 40px;
      text-transform: capitalize;
    }
    
    input {
      font: 19px "Open Sans", Helvetica, Arial, Sans-serif;
      border-radius: 3px;
      box-shadow: 0 2px 2px #000;
    }
    
    .page {
      position: absolute;
      width: 500px;
      margin: 50px auto 0;
      top: 400px;
      left: 500px;
    }
    
    form input,
    form input:focus {
      padding: 10px 13px;
      border: 0;
      outline: 0;
    }
    
    form input[type="email"] {
      margin-right: 15px;
      width: 300px;
      color: #a09f9f;
    }
    
    form input[type="submit"] {
      padding: 10px 15px;
      color: #c0d6db;
      background: #427b89;
      text-shadow: 0 2px 2px #333;
      box-shadow: inset 0 0 0 transparent;
      background: #508f9f;
      background: linear-gradient(to bottom, #508f9f 0%,#346976 100%);
      transition: all .3s ease-in-out;
    }
    
    form input[type="submit"]:hover,
    form input[type="submit"]:focus {
      box-shadow: inset 0 0 50px rgba(255,255,255, 0.3),
                        0 0 10px rgba(255,255,255, 0.1);
      color: white;
      margin-left: 10px;
    }


    .history p {
        margin: 1rem;
        border: 1px solid rgba(247, 230, 163, 0);
        padding: 1rem;
        color: #000;
        width: 960px;
        color: var(--primary-color);
        font-family: var(--paragraph-font);

    }

    .grid nav{
      position: absolute;
      top: 150px;
      left: 400px;
      border: 1px solid #000;
    }

    .history h2{
      position: absolute;
      left: 100px;
      right: 100px;
      top: 780px;
      margin: 1rem;
      text-align: center;
    }

    .adventure h2{
      left: 100px;
      right: 100px;
      top: 1100px;
      margin: 1rem;
      text-align: center;
    }

    form {
      left: 400px;
      right: 400px;
      top: 400px;
      margin: 0 auto;
      padding: 2rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      background-color: var(--accent2-color);
      display: grid;
    }
  
    fieldset {
      display: grid;
      grid-gap: .2rem;
      margin: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0.5rem;
    }
  
    .form-item {
      display: grid;
      align-items: normal;
    }
  
    .column1 {
      grid-template-columns: 1fr 1fr;
      display: flex;
      justify-content: flex-start;
      margin: 0.5rem 0;
    }
  
    .column2 {
      grid-template-columns: 1fr ;
      margin: 0.5rem 0;
      padding-right: 50px;
      display: flex;
      justify-content: flex-start;
    }

    .column {
      flex: 33.33%;
      height: 450px;
      padding: 10px;
      margin: 5px;
      background-color: #fff5d4;
      text-align: center;
    }
    .container {
       display: flex;
    }	

    .column img {
      opacity: 1;
    }

    footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 20px;
      background-color: #e2ddb2;
    }

    .button-wrapper {
      display: block;
      text-align: center;
    }

    .button {
      border: none;
      border-radius: 3em;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
      display: inline-block;
      font-size: 1em;
      padding: 1em 2em;
      width: auto;
    }

    .cta-button {
      background-color: #427b89;
      color: #fff;
    }
    
    .cta-button:hover {
      background-color: #777;
    }
  
  

    


    
    
