* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    margin: 0 auto;
    width: 650px;
  }
  
  h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: rgb(15, 0, 128);
    text-align: center;
  }

  body {
    font-family:roboto, italic, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
  }

  form {
    width: 650px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-color: #def5fc;
    display: grid;
  }

  fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
  }

  fieldset label1 {
    background-color: rgb(167, 181, 195);
  }

  legend {
    padding: 0.5rem;
    color: steelblue;
    font-size: 1.3em;
  }

  label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
    color: steelblue;

}
  
  label {
    text-align: center;
    padding-right: 1rem;
  }

  label1 {
    text-align: center;
    padding-right: .5rem;
  }

  input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
  }


  button {
    margin: 1rem;
    background-color: rgb(0, 43, 128);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
  }

  button:hover {
    background-color: rgb(43, 125, 247);
  }

  footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: rgb(44, 64, 180);
    border-top: 1px solid #ccc;
  }

  .form-item {
    display: grid;
    align-items: center;
  }
